<a href="https://colab.research.google.com/github/thfruchart/tnsi/blob/main/03/CORRECTION_exo_2_programmation_objet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Corrigé de l'exercice 2

In [1]:
class Date:
    def __init__(self, j,m,a):
        self.jour = j
        self.mois = m
        self.annee = a

    def __str__(self):  # ou texte(self)
        dico = {1:'janvier',
                2 : 'février',
                3 : 'mars',
                4 : 'avril',
                5 : 'mai',
                6 : 'juin',
                7 : 'juillet',
                8 : 'août',
                9 : 'septembre',
                10: 'octobre' ,
                11: 'novembre',
                12:'décembre'}
        return str(self.jour) + ' ' + dico[self.mois] + ' ' + str(self.annee)

        def __eq__(self, v):  # ou egale(self,v)
            return
        
        def __lt__(self, v):  # ou anterieure(self,v)
            return

d1 = Date(1,1,2000)
d2 = Date(31,12,2020)
d3 = Date(31,12,2020)

In [ ]:
print(d1)
print(d2==d3)

1 janvier 2000
False